.root :global(.bn-container) :global(.bn-editor) {
  min-height: 100%;
  padding: 2.5rem 2.75rem 8rem 3.25rem;
}

.root :global(.bn-side-menu) {
  gap: 0.125rem;
}

.root :global(.bn-side-menu) :global(.bn-ak-button) {
  height: 1.25rem;
  width: 1.25rem;
}

.root :global(.bn-side-menu) :global(.bn-ak-button) svg {
  height: 0.875rem;
  width: 0.875rem;
}
